<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768454849595-v0vllfbcv1enl6tg7jp6h0v8sl6tdnlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768454849595-v0vllfbcv1enl6tg7jp6h0v8sl6tdnlc</string>
	<key>API_KEY</key>
	<string>AIzaSyAGw0P18SXdA9sHeTTLYzjkKc1wIYoe-Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>768454849595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-15660</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-15660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768454849595:ios:0ee6986cbee0acd394181e</string>
</dict>
</plist>